@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, black, #3a3939, black);
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    height: 15vw;
    width: 25vw;
    max-width: 270px;
    min-width: 100px;
    border: 2px solid #BB0000;
    border-radius: 10px; 
    margin: 3px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: 9.5vw;
    font-weight: bold;
    color: #DDDEC6;
}

.container #hora {
    background-image: linear-gradient(to bottom, #BB0000, black);
    border-radius: 10px;
}

.container #hora::after {
    content: 'Hora';
    font-size: 16px;
}

.container #min {
    background-image: linear-gradient(to bottom, #BB0000, black);
}

.container #min::after {
    
    content: 'Min';
    font-size: 16px;
}

.container #seg {
    background-image: linear-gradient(to top, black, #BB0000);
}

.container #seg::after {
    content: 'Seg';
    font-size: 16px;
}


/*
nomes - hora, min e seg, abaixo das divs
max-width
responsividade*/