@charset "UTF-8";

@media screen and (orientation: portrait) {
    #sol {
        height: 8.45vw;
        width: 8.45vw;
    }
    
    #mer {
        height: 1.2vw;
        width: 1.2vw;
    }
    
    #ven {
        height: 2.4vw;
        width: 2.4vw;
    }
    
    #ter {
        height: 2.65vw;
        width: 2.65vw;
    } 
    
    #lua {
        height: 1.2vw;
        width: 1.2vw;
    }
    
    #mar {
        height: 1.39vw;
        width: 1.39vw; 
    }
    
    #jup {
        height: 2.29vw;
        width: 2.29vw; 
    }
    
    #sat {
        height: 4.7vw;
        width: 4.7vw;
    }
    
    #ura {
        height: 3.86vw;
        width: 3.86vw; 
    }
    
    #net {
        height: 3.86vw;
        width: 3.86vw;
    } 
    
    /*-----Orbitas------*/
    
    .orbit_mer {
        height:19.03vw;
        width: 19.03vw;  
    }
    
    .orbit_ven {
        height: 29.64vw;
        width: 29.64vw;
    }
    
    .orbit_ter {
        height: 37.77vw;
        width: 37.77vw;
    }
    
    .orbit_mar {
        height: 50.45vw;
        width: 50.45vw;
    }
    
    .orbit_jup {
        height: 62.54vw;
        width: 62.54vw;
    }
    
    .orbit_sat {
        height: 74.63vw;
        width: 74.63vw;
    }
    
    .orbit_ura {
        height: 84.31vw;
        width: 84.31vw;
    }
    
    .orbit_net {
        height: 93.99vw;
        width: 93.99vw;
    }
}


/*=============================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;  
}

span {
    display: inline-block;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 25px;
    margin: 5px;
}


div {
    display: inline-block;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

p {
    visibility: hidden;
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
}

/*------Astros------*/

.estrelas {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

#sol {
    height: 8.45vh;
    width: 8.45vh;
    background-color: yellow;
    box-shadow: 0px 0px 10px yellow;
}

#mer {
    top: 100%;
    left: 50%;
    height: 1.2vh;
    width: 1.2vh;
    background-color: #C28E6A;
}

#ven {
    top: 100%;
    left: 50%;
    height: 2.4vh;
    width: 2.4vh;
    background-color: #CC7016;
}

#ter {
    display: flex;
    top: 100%;
    left: 50%;
    height: 2.65vh;
    width: 2.65vh;
    background-color: blue; 
    animation: anim_orbit 2.7s linear infinite;
} 

#lua {
    display: flex;
    top: 160%;
    left: 50%;
    height: 1.2vh;
    width: 1.2vh;
    background-color: silver; 
    box-shadow: 0px 0px 3px silver;
}

#mar {
    top: 100%;
    left: 50%;
    height: 1.39vw;
    width: 1.39vw;
    background-color: rgb(255, 51, 0);  
}

#jup {
    top: 100%;
    left: 50%;
    height: 2.29vh;
    width: 2.29vh;
    background-color: rgb(172, 119, 5);  
}

#sat {
    top: 100%;
    left: 50%;
    height: 4.7vh;
    width: 4.7vh;
    background-color: rgb(245, 228, 81);  
}

#ura {
    top: 100%;
    left: 50%;
    height: 3.86vh;
    width: 3.86vh;
    background-color: rgb(106, 247, 247);  
}

#net {
    top: 100%;
    left: 50%;
    height: 3.86vh;
    width: 3.86vh;
    background-color: #2f52ec;  
}

/*-----Orbitas------*/

.orbit_mer {
    height:19.03vh;
    width: 19.03vh;
    border: 0.8px solid silver;
    animation: anim_orbit 8.8s linear infinite;
    
}

.orbit_ven {
    height: 29.64vh;
    width: 29.64vh;
    border: 1px solid silver;
    animation: anim_orbit 24.3s linear infinite;
}

.orbit_ter {
    height: 37.77vh;
    width: 37.77vh;
    border: 1px solid silver;
    animation: anim_orbit 36.5s linear infinite;
}

.orbit_mar {
    height: 50.45vh;
    width: 50.45vh;
    border: 1px solid silver;
    animation: anim_orbit 68.7s linear infinite;
}

.orbit_jup {
    height: 62.54vh;
    width: 62.54vh;
    border: 1px solid silver;
    animation: anim_orbit 438.0s linear infinite;
}

.orbit_sat {
    height: 74.63vh;
    width: 74.63vh;
    border: 1px solid silver;
    animation: anim_orbit 1075.5s linear infinite;
}

.orbit_ura {
    height: 84.31vh;
    width: 84.31vh;
    border: 1px solid silver;
    animation: anim_orbit 3068.7s linear infinite;
}

.orbit_net {
    height: 93.99vh;
    width: 93.99vh;
    border: 1px solid silver;
    animation: anim_orbit 6019.0s linear infinite;
}


/*-----Nomes------*/

#mer p {
    animation: name_orbit 8.8s linear infinite;
}

#ven p {
    animation: name_orbit 24.3s linear infinite;
}

.orbit_ter p {
    position: relative;
    top: 100%;
    left: 65%;
    animation: name_orbit 36.5s linear infinite;
}

#mar p {
    animation: name_orbit 68.7s linear infinite;
}

#jup p {
    animation: name_orbit 438.0s linear infinite;
}

#sat p {
    animation: name_orbit 1075.5s linear infinite;
}

#ura p {
    animation: name_orbit 3068.7s linear infinite;
}

#net p {
    animation: name_orbit 6019.0s linear infinite;
}


/*-----Animações------*/

@keyframes anim_orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes name_orbit {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(0deg);
    }
}


/*
Sol        --
Mercúrio   8.8s
Vênus      24.3s
Terra      36.5s
Lua        2.7s
Marte      68.7s
Júpiter    438.0s
Saturno    1075.5s
Urano      3068.7s
Netuno     6019.0s
*/