@charset "UTF-8";

/*=============================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;  
}

span {
    display: inline-block;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 25px;
    margin: 5px;
}


div {
    display: inline-block;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

p {
    visibility: hidden;
    color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
}

/*------Astros------*/

.estrelas {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

#sol {
    background-color: yellow;
    box-shadow: 0px 0px 10px yellow;
}

#mer {
    top: 100%;
    left: 50%;
    background-color: #C28E6A;
}

#ven {
    top: 100%;
    left: 50%;
    background-color: #CC7016;
}

#ter {
    display: flex;
    top: 100%;
    left: 50%;
    background-color: blue; 
    animation: anim_orbit 2.7s linear infinite;
} 

#lua {
    display: flex;
    top: 160%;
    left: 50%;
    background-color: silver; 
    box-shadow: 0px 0px 3px silver;
}

#mar {
    top: 100%;
    left: 50%;
    background-color: rgb(255, 51, 0);  
}

#jup {
    top: 100%;
    left: 50%;
    background-color: rgb(172, 119, 5);  
}

#sat {
    top: 100%;
    left: 50%;
    background-color: rgb(245, 228, 81);  
}

#ura {
    top: 100%;
    left: 50%;
    background-color: rgb(106, 247, 247);  
}

#net {
    top: 100%;
    left: 50%;
    background-color: #2f52ec;  
}

/*-----Orbitas------*/

.orbit_mer {
    border: 0.8px solid silver;
    animation: anim_orbit 8.8s linear infinite;
}

.orbit_ven {
    border: 1px solid silver;
    animation: anim_orbit 24.3s linear infinite;
}

.orbit_ter {
    border: 1px solid silver;
    animation: anim_orbit 36.5s linear infinite;
}

.orbit_mar {
    border: 1px solid silver;
    animation: anim_orbit 68.7s linear infinite;
}

.orbit_jup {
    border: 1px solid silver;
    animation: anim_orbit 438.0s linear infinite;
}

.orbit_sat {
    border: 1px solid silver;
    animation: anim_orbit 1075.5s linear infinite;
}

.orbit_ura {
    border: 1px solid silver;
    animation: anim_orbit 3068.7s linear infinite;
}

.orbit_net {
    border: 1px solid silver;
    animation: anim_orbit 6019.0s linear infinite;
}


/*-----Nomes------*/

#mer p {
    animation: name_orbit 8.8s linear infinite;
}

#ven p {
    animation: name_orbit 24.3s linear infinite;
}

.orbit_ter p {
    position: relative;
    top: 100%;
    left: 65%;
    animation: name_orbit 36.5s linear infinite;
}

#mar p {
    animation: name_orbit 68.7s linear infinite;
}

#jup p {
    animation: name_orbit 438.0s linear infinite;
}

#sat p {
    animation: name_orbit 1075.5s linear infinite;
}

#ura p {
    animation: name_orbit 3068.7s linear infinite;
}

#net p {
    animation: name_orbit 6019.0s linear infinite;
}


/*-----Animações------*/

@keyframes anim_orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes name_orbit {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform:translate(-50%, -50%) rotate(0deg);
    }
}
